body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  margin: 30px 30px;
  display: block;
}

h1 {
  padding-top: 10px;
}
a#celsius-templink {
  float: right;
  padding: 10px 10px 10px 0;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a#fahren-templink {
  float: right;
  padding: 10px 10px 10px 0;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
ul {
  list-style: none;
  text-align: left;
}
.container {
  margin: 80px;
  border-radius: 5px;
  border-style: solid;
  max-width: 800px;
  padding: 20px;
}
.search-button {
  line-height: 30px;
  border-radius: 4px;
  background-color: paleturquoise;
  width: 100%;
  font-size: 80%;
}
.location-button {
  line-height: 30px;
  border-radius: 4px;
  background-color: paleturquoise;
  width: 100%;
  font-size: 80%;
}

.iconNow {
  max-width: 100px;
}
.currentTemp {
  font-size: 50px;
  font-weight: bold;
}

.description {
  font-weight: bold;
  font-size: large;
  margin-left: 70px;
}

.conditions {
  margin-bottom: 0;
  font-family: monospace;
  float: left;
}

li::first-letter {
  text-transform: Uppercase;
}

.footer {
  text-align: center;
  font: monospace;
}
